.container
{
    background-image: url(imageedit_4_2835225075.png);
    background-repeat: no-repeat;
    height: 800px;
    width:1450px;
    background-size:cover;
    z-index: 2;
    
}


h1
{
    padding-top:40px;
    font-size: 50px;
    text-align: center;
    color:green;
    
}
h2
{
    text-align: center;
    color:darkblue;
    font-size: 40px;
}

